<mat-toolbar>
  <span class="fill-space">Karate4All</span>

  <!-- Club button -->
  <a routerLink="/club">
    <button mat-button>Club</button>
  </a>

  <!-- Competitions management button -->
  <a routerLink="/management">
    <button mat-button>Competitions management</button>
  </a>

  <!-- Profile button -->

  <a [routerLink]="['/profile', id]">
    <button mat-button>Profile</button>
  </a>

  <!-- Home button -->
  <a routerLink="/home">
    <button mat-button>
      <mat-icon>home</mat-icon>
    </button>
  </a>

  <!-- Login button -->
  <a routerLink="/login">
    <button mat-button>Login</button>
  </a>

  <!-- Logout button -->
  <button mat-button>Logout</button>

  <!-- Sign in button -->
  <a routerLink="/signin">
    <button mat-button>Sign up</button>
  </a>
</mat-toolbar>

