<mat-toolbar>
  <span class="fill-space">Karate4All</span>

  <!-- Home button -->
  <a routerLink="/home">
    <button mat-button>
      <mat-icon>home</mat-icon>
    </button>
  </a>

  <!-- Club button -->
  <a *ngIf="sessionService.isCoach()" routerLink="/club">
    <button mat-button>Club</button>
  </a>

  <!-- Competitions management button -->
  <a *ngIf="sessionService.isManager()" routerLink="/management">
    <button mat-button>Competitions management</button>
  </a>

  <!-- Profile button -->

  <a *ngIf="sessionService.currentLoggedPerson" [routerLink]="['/profile', id] ">
    <button mat-button>Profile</button>
  </a>

  <!-- Login button -->
  <a *ngIf="!sessionService.currentLoggedPerson" routerLink="/login">
    <button mat-button>Login</button>
  </a>

  <!-- Logout button -->
  <div *ngIf="sessionService.currentLoggedPerson">
    <button mat-button>Logout</button>
  </div>

  <!-- Sign in button -->
  <a *ngIf="!sessionService.currentLoggedPerson" routerLink="/signin">
    <button mat-button>Sign up</button>
  </a>
</mat-toolbar>
