.tab {
  padding-left: 2em;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}

table {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 20% 80%;
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 50px;
}

.grid-item1 {
  grid-column-start: 1;
  grid-column-end: 1;
  text-align: justify;
}

.grid-item2 {
  grid-column-start: 2;
  grid-column-end: 2;
}

.icon {
  font-size: 200px;
  color: #2b8ce0;
}

.custom-address{
  width: 400px;
}
