<form class="example-form">
  <mat-form-field>
    <mat-label>Club name</mat-label>
    <input matInput value={{club[0].name}}>
  </mat-form-field>

  <mat-form-field class="tab">
    <mat-label>Club address</mat-label>
    <input matInput value={{club[0].address}}>
  </mat-form-field>

  <button mat-button>
    <mat-icon class="done_btn">done</mat-icon>
  </button>
</form>

<button class="add_btn" mat-fab>
  <mat-icon>add</mat-icon>
</button>

<div class="table-wrapper">
  <table [dataSource]="athleteDataSource" class="mat-elevation-z8" mat-table>

    <ng-container matColumnDef="photo">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let element" mat-cell>
        <mat-icon>account_circle</mat-icon>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="firstName">
      <th *matHeaderCellDef mat-header-cell> First name</th>
      <td *matCellDef="let element" mat-cell> {{element.type}} </td>
    </ng-container>

    <!-- Place Column -->
    <ng-container matColumnDef="surname">
      <th *matHeaderCellDef mat-header-cell> Surname</th>
      <td *matCellDef="let element" mat-cell> {{element.surname}} </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th *matHeaderCellDef mat-header-cell> Details</th>
      <td *matCellDef="let element" mat-cell>
        <a [routerLink]="['/athlete', element.personId]">
          <button color="primary" mat-icon-button>
            <mat-icon>menu</mat-icon>
          </button>
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th *matHeaderCellDef mat-header-cell> Delete</th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="delete(element.personId)" color="warn" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
</div>


