<mat-form-field class="fill-space">
  <mat-label>Search</mat-label>
  <input (keyup)="applyFilter($event)" matInput>
</mat-form-field>


<span class="add_btn">
    <button (click)="openDialog()" mat-fab>
      <mat-icon>add</mat-icon>
    </button>
</span>

<div class="table-wrapper">
  <table [dataSource]="competitionDataSource" class="mat-elevation-z8" mat-table matSort multiTemplateDataRows>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Name</th>
      <td *matCellDef="let element" mat-cell> {{element.name}} </td>
    </ng-container>

    <!-- Place Column -->
    <ng-container matColumnDef="place">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Place</th>
      <td *matCellDef="let element" mat-cell> {{element.place}} </td>
    </ng-container>

    <!-- Federation Column -->
    <ng-container matColumnDef="federation">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Federation</th>
      <td *matCellDef="let element" mat-cell> {{element.federation}} </td>
    </ng-container>

    <!-- CompetitionStatus Column -->
    <ng-container matColumnDef="competitionStatus">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Status</th>
      <td *matCellDef="let element" mat-cell>

        <div *ngIf="element.competitionStatus === 'Pending'">
          <mat-icon class={{element.competitionStatus}}>access_time</mat-icon>
          {{element.competitionStatus}}
        </div>

        <div *ngIf="element.competitionStatus === 'Open'">
          <mat-icon class={{element.competitionStatus}}>radio_button_unchecked</mat-icon>
          {{element.competitionStatus}}
        </div>

        <div *ngIf="element.competitionStatus === 'Progress'">
          <mat-icon class={{element.competitionStatus}}>timelapse</mat-icon>
          In {{element.competitionStatus}}
        </div>

        <div *ngIf="element.competitionStatus === 'Cancelled'">
          <mat-icon class={{element.competitionStatus}}>cancel</mat-icon>
          {{element.competitionStatus}}
        </div>

        <div *ngIf="element.competitionStatus === 'Completed'">
          <mat-icon class={{element.competitionStatus}}>check_circle</mat-icon>
          {{element.competitionStatus}}
        </div>

      </td>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="edit">
      <th *matHeaderCellDef mat-header-cell> Edit</th>
      <td *matCellDef="let element" mat-cell>
        <a [routerLink]="['/competition', element.competitionId]">
          <button color="primary" mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
        </a>
      </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <th *matHeaderCellDef mat-header-cell> Delete</th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="delete(element.competitionId)" color="warn" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Animatie -->
    <ng-container matColumnDef="expandedDetail">
      <td *matCellDef="let element" [attr.colspan]="displayedColumns.length" mat-cell>
        <div [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
             class="example-element-detail">
          <div class="element-description">
            {{element.name}}
            <div class="tab"> Start date: {{element.startDate | date}}  </div>
            Place: {{element.place}}
            <div class="tab"> End date: {{element.endDate | date}}  </div>
            Number of entries: {{element.noOfEntries}} <br>
            Number of teams: {{element.noOfCountries}}
          </div>
        </div>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr (click)="expandedElement = expandedElement === element ? null : element"
        *matRowDef="let element; columns: displayedColumns;"
        [class.example-expanded-row]="expandedElement === element"
        class="example-element-row"
        mat-row>
    </tr>
    <tr *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row" mat-row></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>
